body{
    height:100%;
    
}
video{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-50%;
    margin-left: -50%;
    width:100%;
    z-index: 1;
}
div{
    position: relative;
    z-index:2;
    margin:0 auto;
    width:720px;
    margin-top:100px;
    text-align: center;   
}
h1{
   font-size:44px;
    color: cadetblue;
    
}
p{
    color:white;
    background-color: lightcoral;
}
.review{
    border:3px solid black;
    width:100px;
    margin:0 auto;
    padding:10px;
    font-size: 20px;
    opacity:0.7;
}